<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="parent.school.salsal.com">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.ActivityMain" />
        <activity android:name=".view.activity.ActivityNotificationNew" />
        <activity android:name=".view.activity.ActivityNotifDetail" />
        <activity android:name=".view.activity.ActivityEditProfile" />
        <activity android:name=".view.activity.ActivityActivities" />
        <activity android:name=".view.activity.ActivityTeacherProfile" />
        <activity android:name=".view.activity.ActivityResponseActivity" />
        <activity android:name=".view.activity.ActivityChildren" />
        <activity android:name=".view.activity.ActivityLogin" />
        <activity android:name=".view.activity.ActivityDetails" />
        <activity android:name=".view.activity.ActivitySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.ActivityLoading"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name=".view.activity.ActivitySchools"
            android:windowSoftInputMode="adjustResize"></activity>
    </application>

</manifest>